.mod_slideshow {
  position: relative;
  margin-bottom: -61px; }
  .mod_slideshow .slides {
    position: relative; }
  .mod_slideshow .slide {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .mod_slideshow .slide .description {
      color: #fff; }
      .mod_slideshow .slide .description h2 {
        color: #fff;
        font-size: 48px; }
      .mod_slideshow .slide .description p {
        margin: 1em 0 0; }
      .mod_slideshow .slide .description a {
        color: #fff; }
        .mod_slideshow .slide .description a:hover {
          text-decoration: underline; }
    .mod_slideshow .slide .image {
      display: none; }
    .mod_slideshow .slide.active {
      display: block;
      opacity: 1;
      position: relative; }
  .mod_slideshow .thumbs {
    clear: both;
    background: url(../images/slideshow-bg.png) top left;
    padding-left: 17px;
    cursor: pointer; }
    .mod_slideshow .thumbs > div {
      background: url(../images/slideshow-bg.png) bottom right;
      height: 90px;
      padding: 17px 17px 9px 0; }
    .mod_slideshow .thumbs > div > div {
      height: 91px;
      margin: 0 -15px;
      padding: 0 15px;
      box-shadow: 0px 12px 12px -12px rgba(68, 68, 68, 0.8); }
    .mod_slideshow .thumbs .thumb {
      float: left;
      background: url(../images/slideshow-thumb-bg.png) left no-repeat;
      height: 91px; }
      .mod_slideshow .thumbs .thumb:first-child {
        background: none; }
      .mod_slideshow .thumbs .thumb > div {
        padding: 10px 11px 12px 12px;
        position: relative;
        height: 67px; }
      .mod_slideshow .thumbs .thumb .title {
        text-align: right;
        line-height: 67px;
        height: 67px;
        font-size: 24px;
        color: #00548e;
        position: relative;
        z-index: 3;
        display: none; }
      .mod_slideshow .thumbs .thumb .preview {
        width: 100%;
        text-align: center;
        line-height: 67px; }
        .mod_slideshow .thumbs .thumb .preview img {
          max-width: 100%;
          vertical-align: middle; }
        .mod_slideshow .thumbs .thumb .preview span {
          display: inline-block;
          height: 100%; }
      .mod_slideshow .thumbs .thumb .indicator {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -20px;
        margin-bottom: -2px;
        width: 39px;
        height: 19px;
        display: none;
        background: url(../images/slideshow-indicator-bg.png) no-repeat; }
      .mod_slideshow .thumbs .thumb.active .indicator {
        display: block; }
      .mod_slideshow .thumbs .thumb.active .title {
        background: url(../images/slideshow-hover-bg.png) bottom no-repeat; }

@media screen and (min-width: 768px) {
  .mod_slideshow {
    margin-top: -40px; }
    .mod_slideshow .slide .description {
      margin-right: 58%; }
      .mod_slideshow .slide .description > div {
        padding-top: 110px; }
    .mod_slideshow .slide .image {
      display: block;
      position: absolute;
      width: 60%;
      right: 0;
      bottom: -18px; }
      .mod_slideshow .slide .image > div {
        padding: 0 20px; }
      .mod_slideshow .slide .image img {
        max-width: 100%;
        display: block;
        float: right; }
    .mod_slideshow .slide.active {
      display: block; }
    .mod_slideshow .thumbs .thumb .title {
      float: right;
      width: 70%;
      display: block;
      text-align: center; }
    .mod_slideshow .thumbs .thumb .preview {
      float: left;
      width: 30%; } }
.ie7 .mod_slideshow, .ie8 .mod_slideshow {
  margin-top: -40px;
  overflow: visible;
  zoom: 1; }
  .ie7 .mod_slideshow .slide .description, .ie8 .mod_slideshow .slide .description {
    margin-right: 58%; }
    .ie7 .mod_slideshow .slide .description > div, .ie8 .mod_slideshow .slide .description > div {
      padding-top: 110px; }
  .ie7 .mod_slideshow .slide .image, .ie8 .mod_slideshow .slide .image {
    display: block;
    position: absolute;
    width: 60%;
    right: 0;
    bottom: -18px; }
    .ie7 .mod_slideshow .slide .image > div, .ie8 .mod_slideshow .slide .image > div {
      padding: 0 20px; }
    .ie7 .mod_slideshow .slide .image img, .ie8 .mod_slideshow .slide .image img {
      max-width: 100%;
      display: block;
      float: right; }
  .ie7 .mod_slideshow .slide.active, .ie8 .mod_slideshow .slide.active {
    display: block; }
  .ie7 .mod_slideshow .thumbs .thumb .title, .ie8 .mod_slideshow .thumbs .thumb .title {
    float: right;
    width: 70%;
    display: block;
    text-align: center; }
  .ie7 .mod_slideshow .thumbs .thumb .preview, .ie8 .mod_slideshow .thumbs .thumb .preview {
    float: left;
    width: 30%; }
