.media-blog .items-row {
  float: left;
}
.media-blog .item {
  width: 100%;
  padding: 0;
  float: left;
  margin: 0 0 10px 0;
}
.media-blog .item .media {
  float: left;
  padding: 0 20px 10px 0;
  width: 125px;
}
.our-people .media-blog .item .media {
  padding-right: 10px;
}
.media-blog .item .media img {
  display: block;
}
.media-blog .item p {
  margin-top: 3px;
}
.media-blog .item h2 {
  font-size: 1em;
  margin: 0;
}
.media-blog .item .subtitle {
  font-size: 1em;
  color: #00548e;
  margin: 0 0 0.5em 0;
}

.blog .items-leading > div {
  border-bottom: 1px solid #d8d8d8;
}
.testimonials .blog .items-leading > div:first-child {
  border-top: 1px solid #d8d8d8;
}
.blog .items-row .item {
  border-bottom: 1px solid #d8d8d8;
  padding-top: 1em;
}
.blog .items-row .item p {
  margin-left: 20px;
}
.blog .items-row .item p iframe {
  width: 280px;
}
.videos .blog .items-row .item p {
  margin-left: 0;
}

.item-page img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .media-blog .items-row {
    float: left;
  }
  .media-blog .item {
    width: 45%;
    padding-right: 2.5%;
    position: relative;
    *zoom: 1;
  }
  .media-blog .item .media {
    padding-bottom: 0;
  }
  .media-blog .item p {
    margin: 1em 0;
  }

  .blog .items-row .item p iframe {
    width: 350px;
  }
}
.ie7 .media-blog .items-row, .ie8 .media-blog .items-row {
  float: left;
}
.ie7 .media-blog .item, .ie8 .media-blog .item {
  width: 45%;
  padding-right: 2.5%;
  position: relative;
  *zoom: 1;
}
.ie7 .media-blog .item .media, .ie8 .media-blog .item .media {
  padding-bottom: 0;
}
.ie7 .media-blog .item p, .ie8 .media-blog .item p {
  margin: 1em 0;
}
.ie7 .blog .items-row .item p iframe, .ie8 .blog .items-row .item p iframe {
  width: 350px;
}
