.hmenu .menu {
  margin: 0;
  padding: 0; }
  .hmenu .menu li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 10px;
    position: relative; }
    .hmenu .menu li:first-child {
      padding-left: 0; }
  .hmenu .menu ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0; }
    .hmenu .menu ul li {
      display: block;
      padding: 0.5em 1em; }
.hmenu.primary li {
  padding-left: 35px; }
  .hmenu.primary li > a, .hmenu.primary li > span {
    font-size: 14px;
    color: #00548e;
    text-decoration: none;
    display: block;
    padding-bottom: 10px; }
  .hmenu.primary li.active > a, .hmenu.primary li.active > span,
  .hmenu.primary li > a:hover, .hmenu.primary li > span:hover {
    background: url(../images/menu-hover-bg.png) bottom no-repeat; }
.hmenu.secondary {
  text-align: center; }
  .hmenu.secondary li > a, .hmenu.secondary li > span {
    color: #00548e;
    text-decoration: none; }
  .hmenu.secondary li.active > a, .hmenu.secondary li.active > span,
  .hmenu.secondary a:hover, .hmenu.secondary span:hover {
    color: #b1cce1; }
.hmenu.page-title ul {
  margin: 0;
  padding: 0; }
  .hmenu.page-title ul li {
    display: none; }
  .hmenu.page-title ul li.active {
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    display: block; }
    .hmenu.page-title ul li.active a {
      color: #fff;
      text-decoration: none; }

.vmenu .menu {
  margin: 0;
  padding: 0; }
  .vmenu .menu li {
    display: block; }
  .vmenu .menu ul {
    margin: 0.5em 0; }
.vmenu.sidebar {
  margin: 1em 0; }
  .vmenu.sidebar li {
    margin-left: -9px;
    padding-left: 9px; }
    .vmenu.sidebar li > a, .vmenu.sidebar li > span {
      display: block;
      font-size: 14px;
      color: #00548e;
      height: 35px;
      line-height: 35px;
      margin-bottom: 4px;
      text-decoration: none; }
  .vmenu.sidebar li.active, .vmenu.sidebar li:hover {
    background: url(../images/menu-roll-bg.png) left top no-repeat; }
    .vmenu.sidebar li.active > a, .vmenu.sidebar li.active > span, .vmenu.sidebar li:hover > a, .vmenu.sidebar li:hover > span {
      color: #fff;
      background: url(../images/menu-roll-bg.png) right bottom no-repeat; }
.vmenu.mobile {
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 0;
  border-radius: 5px;
  border: 1px solid #002d4c;
  background: whitesmoke;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .vmenu.mobile .menu > li {
    font-size: 18px;
    line-height: 44px;
    padding: 0 0 0 1em;
    border-top: 1px solid #d8d8d8; }
    .vmenu.mobile .menu > li:first-child {
      border-top: none; }
    .vmenu.mobile .menu > li li {
      background: #fff;
      padding-left: 2em;
      margin-left: -1em;
      border-top: 1px solid #d8d8d8; }
  .vmenu.mobile .menu ul {
    margin: 0 0 0 -1em;
    background: #d7d7d7; }
  .vmenu.mobile a {
    color: #00548e;
    font-size: 1.428571429em; }
    .vmenu.mobile a:hover {
      background: none; }
