.mod_slideshow {
	position: relative;
	margin-bottom: -61px;

	&.loading {


	}

	.slides {
		position: relative;
	}

	.slide {
		display: none;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.description {
			color: #fff; 

			h2 { 
				color: #fff;
				font-size: 48px;
			}

			p {
				margin: 1em 0 0;
			}

			a {
				color: #fff;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.image {
			display: none;
		}

		&.active {
			display: block;
			opacity: 1;

			position: relative;
		}
	}

	.thumbs {
		clear: both;
		background: url(../images/slideshow-bg.png) top left;
		padding-left: 17px;
		cursor: pointer;

		> div {
			background: url(../images/slideshow-bg.png) bottom right;
			height: 90px;
			padding: 17px 17px 9px 0;
		}
		
		> div > div {
			height: 91px;
			margin: 0 -15px;
			padding: 0 15px;
			box-shadow: 0px 12px 12px -12px rgba(#444, .8);
		}

		.thumb {
			float: left;
			background: url(../images/slideshow-thumb-bg.png) left no-repeat;

			&:first-child { background: none; }

			> div {
				padding: 10px 11px 12px 12px;
				position: relative;
				height: 67px;
			}

			.title { 
				text-align: right;
				line-height: 67px;
				height: 67px;

				font-size: 24px;
				color: #00548e;

				position: relative;
				z-index: 3;
				display: none;
			}
			.preview {
				width: 100%;
				text-align: center;
				line-height: 67px;

				img { 
					max-width: 100%;
					vertical-align: middle;
				}
			}

			.indicator {
				position: absolute;
				bottom: 100%;
				left: 50%;
				margin-left: -20px;
				margin-bottom: -2px;
				width: 39px;
				height: 19px;

				display: none;
				background: url(../images/slideshow-indicator-bg.png) no-repeat;
			}

			&.active .indicator {
				display: block;
			}
			&.active .title {
				background: url(../images/slideshow-hover-bg.png) bottom no-repeat;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.mod_slideshow {
		margin-top: -40px;

		.slide {
			.description {
				margin-right: 58%;
				
				> div {
					padding-top: 110px;
				}
			}

			.image {
				display: block;
				position: absolute;
				width: 60%;
				right: 0;
				bottom: -18px;

				> div {
					padding: 0 20px;
				}

				img { 
					max-width: 100%;
					display: block;
					float: right;
				}
			}

			&.active {
				display: block;
			}
		}

		.thumbs {

			.thumb {
				.title {
					float: right;
					width: 70%;
					display: block;
					text-align: center;
				}
				.preview {
					float: left;
					width: 30%;
				}
			}
		}
	}
}

.ie7, .ie8 {
	.mod_slideshow {
		margin-top: -40px;
		overflow: visible;
		zoom: 1;

		.slide {
			.description {
				margin-right: 58%;
				
				> div {
					padding-top: 110px;
				}
			}

			.image {
				display: block;
				position: absolute;
				width: 60%;
				right: 0;
				bottom: -18px;

				> div {
					padding: 0 20px;
				}

				img { 
					max-width: 100%;
					display: block;
					float: right;
				}
			}

			&.active {
				display: block;
			}
		}

		.thumbs {

			.thumb {
				.title {
					float: right;
					width: 70%;
					display: block;
					text-align: center;
				}
				.preview {
					float: left;
					width: 30%;
				}
			}
		}
	}
}