@import "_variables";
@import "_mixins";

.media-blog {
	.items-row {
		float: left;
	}


	.item {
		width: 100%;	
		padding: 0;
		float: left;
		margin: 0 0 10px 0;
		
		.media {
			float: left;
			padding: 0 20px 10px 0;
			width: 125px;
			
			.our-people & {
				padding-right: 10px;	
			}

			img {display: block;}
		}
		
		p {
			margin-top: 3px;
		}
		
		h2 {
			font-size: 1em;
			margin: 0;
		}
		
		.subtitle {
			font-size: 1em;
			color: $maincolor;
			margin: 0 0 0.5em 0;
		}
	}
}

.blog {
	
	.items-leading {
		
		> div {
			border-bottom: 1px solid $bordercolor;
		}
	}
	
	.items-row {
		
		.item {
			border-bottom: 1px solid $bordercolor;
			padding-top: 1em;
			
			p {
				margin-left: 20px;

				iframe {
					width: 280px;
				}

				.videos & {
					margin-left: 0;
				}
			}
		}
	}
}

.item-page {
	img { max-width: 100%; }
}

@media only screen and (min-width: 768px) {
	.media-blog {
		.items-row {
			float: left;
		}


		.item {
			width: 45%;
			padding-right: 2.5%;
			position: relative;
			*zoom: 1;
						
			.media {
				padding-bottom: 0;
			}


			p {
				margin: 1em 0;
			}

		}
	}
	
	.blog {

		.items-row {
			
			.item {
				p {
					iframe {
						width: 350px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 980px) {
	
}