@import "_variables";
@import "_mixins";

.container-fluid {
	padding: 0 10px;
}

#wrapper {
	position: relative;
	left: 0;
	z-index: 5;
	box-shadow: 0 0 30px #333;
	min-height: 100%;
	background: $maincolor;

	@include transition(left 0.3s ease-in-out);

	body.menu-open & {
		left: 90%;
	}
}

#top {
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	padding: 0;
	z-index: 10;
	
	background: $maincolor url(../images/top-mobile-bg.png);
	@include transition(left 0.3s ease-in-out);
	
	> div { padding: 7px 7px 3px; }

	body.menu-open & {
		left: 90%;
	}
}

#header {
	margin-top: 41px;
	padding: 25px 0 30px;
	background: #fff;
}

#masthead {
	background: url('../images/bg_masthead.jpg') top center repeat-x;
	font-size: 1.714285714em;
	
	> div {
		background: url('../images/bg_mastheadGlow.png') top center no-repeat;
	}
	
	> div > div {
		background: url('../images/bg_mastheadShadowTop.png') top center repeat-x;
		padding-top: 7px;
	}
	
	> div > div > div {
		background: url('../images/bg_mastheadShadowBottom.png') bottom center repeat-x;
		padding-bottom: 7px;
		max-height: 400px;
	}
}

#body {
	background: #fff url(../images/body-bg.jpg) top center no-repeat;
	padding-top: 30px;

	body.home & { background: #fff; }
}

#component {
	margin-bottom: 25px;

	> div {
		padding: 0 10px;
	}
}

#sidebar2 { margin-bottom: 25px; }

#bottom {
	border-top: 1px solid $bordercolor;
	clear: both;
	padding-top: 25px;
	margin-top: 25px;
}

#copyright {
	background: url(../images/copyright-bg1.png) top repeat-x;
	padding-top: 20px;

	> div { 
		background: url(../images/copyright-bg2.png) bottom no-repeat;
		padding: 10px 0 10px;
		text-align: center;
		font-size: 12px;
		color: white;

		a { 
			color: #fff;
			text-decoration: none;
		}
	}
}

#footer {
	padding: 20px 0 20px;
	background: #fff;

	> div {
		border-top: 1px solid $bordercolor;
		background: url(../images/footer-bg.png) bottom no-repeat;	
		padding: 28px 0 30px;
	}
}

@media only screen and (min-width: 768px) {

	#top {
		position: relative;
		top: 7px;
		background: none;
		padding: 0;
		max-width: 940px;
		margin: 0 auto;

		> div {
			position: absolute;
			top: 0;
			right: 0;

			background: url(../images/top-bg.png) top left repeat-x;
			padding: 0 0 0 15px;

			> div {
				background: url(../images/top-bg.png) bottom right repeat-x;
				padding-right: 15px;
				padding-top: 6px;
				height: 35px;
			}
		}
	}

	#header {
		border-top: 7px solid #0665a7;
		margin-top: 0;
		padding-top: 30px;
	}
	
	#component {
		margin-bottom: 25px;

		> div {
			padding: 0;
		}
	}

	#sidebar1 + div {
		border-left: 1px solid $bordercolor;
	}

	#sidebar1 {
		background: url(../images/sidebar-bg.png) bottom center no-repeat;
		padding-bottom: 10px;
	}

	#sidebar1 + div #component > div {
		padding: 0 0 0 20px;
	}
}


@media only screen and (min-width: 980px) {
	.container-fluid {
		width: 940px;
		margin: 0 auto;
	}
}

html.ie7, html.ie8 {
	.container-fluid {
		width: 940px;
		padding: 0 10px;
		margin: 0 auto;
	}

	#top {
		position: relative;
		top: 7px;
		background: none;
		padding: 0;
		margin: 0 auto;

		> div {
			position: absolute;
			top: 0;
			right: 0;

			background: url(../images/top-bg.png) top left repeat-x;
			padding-left: 15px;

			> div {
				background: url(../images/top-bg.png) bottom right repeat-x;
				padding-right: 15px;
				padding-top: 6px;
				height: 35px;
			}
		}
	}

	#header {
		border-top: 7px solid #2369A4;
		margin-top: 0;
		padding-top: 20px;
	}
}