#top {

	.module {
		float: right;
		margin: 0 10px 0 0;

		&.show-menu { float: left; }
		&:first-child { margin-left: 0; }
	}

	.search {
		margin: 0;
		position: relative;

		button {
			position: absolute;
			top: 5px;
			left: 5px;
			width: 18px;
			height: 18px;

			background: url(../images/icon-search.png) center no-repeat;
			text-indent: -9999em;
		}

		input {
			padding: 0 10px 0 35px;
			width: 100px;
			border: none;
			border-radius: 10px;
			height: 25px;
		}
	}
}

#header .hmenu {
	padding-top: 40px;
	text-align: center;
}

.module.logo {
	text-align: center;
	float: none;
}

div.module.block {
	background: url(../images/block-bg1.png) left bottom no-repeat;
	padding-left: 7px;
	max-width: 500px;
	margin: 0 auto;
	&:first-child {margin: 0 auto;} //

	> div { 
		background: url(../images/block-bg1.png) right bottom no-repeat;
		padding-right: 7px;
	}
	> div > div {
		background: url(../images/block-bg3.png) bottom no-repeat;
		padding-bottom: 45px;
	}
	> div > div > div {
		background: url(../images/block-bg2.png) top left no-repeat;
		margin-left: -7px;
		padding-left: 15px;
		padding-right: 16px;
	}

	h3 {
		background: url(../images/block-bg2.png) top right no-repeat;
		margin-right: -16px;
		margin-bottom: 0;
		padding-right: 15px;
		color: #fff;
		line-height: 45px;
	}
	
	input[type="email"] {
		width: auto;
	}
}

.module.products {
	float: none;
	padding: 0 0 20px 0;
	
	.product {
		width: 24.6875%; // 158/640
		float: left;
		margin-right: 8.645833333%; // 38/640
	}
	
	> div {
		padding-left: 20px;
		margin-left: 10px;
		background: url('../images/arrow-left.png') left center no-repeat;
	}
	
	> div > div {
		padding-right: 20px;
		margin-right: 10px;
		background: url('../images/arrow-right.png') right center no-repeat;
	}
	
	> div > div > div {
		width: 100%;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	> div > div > div > div {
		width: 1450px;
	}
	
	.product {
		width: auto;
		margin: 0 35px;
		&:first-child {margin: 0 35px;}
	}
}

@media only screen and (min-width: 768px) {
	
	#header .hmenu {
		text-align: center;
		float: none;
		margin: 0 auto;
		clear: left;
	}
	.module.products {
		float: left;
		width: 65.95744680199999%;
		padding: 0;
		
		> div {
			padding: 0;
			margin: 0;
			background: none;
		}
		
		> div > div {
			padding: 0;
			margin: 0;
			background: none;
		}
		
		> div > div > div > div {
			width: auto;
		}
		
		.product {
			margin: 0 5.654281099%;
			&:first-child {margin: 0 5.654281099%;}
		}

	}
	
	div.module.block {
		float: right;
	}
}
	#header .hmenu {
		text-align: right;
		float: right;
		clear: right;
	}
	
	.module.products {
		
		.product {

			margin: 0 5.815831987% 0 0;
			&:first-child {margin: 0 5.815831987% 0 0;}
		}

	}

}