@import "_variables";
@import "_mixins";

.products {

	.product {
		text-align: center;

		a {
			color: $maincolor;
			text-decoration: none;			
			font-size: 24px;
			
			p {
				margin: 0 0 10px 0;
			}
		}
	}

}