.categories ul {
  padding: 0; }
  .categories ul li {
    list-style: none; }
    .categories ul li .item-title a {
      font-size: 1.142857143em;
      margin: 1em 0;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
    .categories ul li.first .item-title a {
      margin-top: 0; }

.blog .items-row {
  clear: both;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.blog .staffBlock {
  width: 45%;
  padding-right: 2.5%;
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .blog .staffBlock img {
    float: left;
    padding: 0 2.5% 5px 0; }
  .blog .staffBlock h2 {
    font-size: 1em;
    margin: 0; }
  .blog .staffBlock span.jobTitle {
    font-size: 1em;
    font-weight: bold;
    color: #00548e;
    margin: 0 0 .5em 0;
    display: block; }
.blog.videos .item {
  max-width: 350px;
  padding: 0 10px 0 0;
  float: left; }
  .blog.videos .item h1 {
    height: 50px; }

@media only screen and (max-width: 991px) {
  .videoBlock {
    width: 100%;
    padding: 0 10px 0 0;
    float: left; } }
@media only screen and (max-width: 767px) {
  .blog .staffBlock {
    width: 100%;
    padding-left: 0;
    float: left;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-bottom: 1em; }
    .blog .staffBlock img {
      padding: 0 10px 5px 0; } }
