.categories ul {
  padding: 0;
  margin: 0; }
  .categories ul li {
    list-style: none; }
    .categories ul li .item-title a {
      font-size: 1.142857143em;
      margin: 1em 0;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
    .categories ul li.first .item-title a {
      margin-top: 0; }

.media-blog .items-row {
  float: left; }
.media-blog .item {
  width: 45%;
  padding-right: 2.5%;
  float: left; }
  .media-blog .item .media {
    float: left;
    padding: 0 2.5% 5px 0; }
  .media-blog .item h2 {
    font-size: 1em;
    margin: 0; }
  .media-blog .item .subtitle {
    font-size: 1em;
    font-weight: bold;
    color: #00548e;
    margin: 0 0 0.5em 0; }

.blog.categories .items-row {
  display: block;
  border-top: 1px solid #d8d8d8; }
  .blog.categories .items-row.row-0 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-top: none; }
  .blog.categories .items-row h2 {
    margin-top: 14px;
    height: 1em; }
  .blog.categories .items-row p {
    margin-left: 2em; }
.blog .items-row {
  clear: both;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
.blog.videos .item {
  max-width: 350px;
  padding: 0 10px 0 0;
  float: left; }
  .blog.videos .item h2 {
    height: 1em; }

@media only screen and (max-width: 991px) {
  .videoBlock {
    width: 100%;
    padding: 0 10px 0 0;
    float: left; } }
/*/mediaquery*/
@media only screen and (max-width: 767px) {
  .media-blog .item {
    width: 100%;
    padding: 0;
    float: static;
    margin-bottom: 1em; }
    .media-blog .item .media {
      padding: 0 10px 5px 0; } }
/*/mediaquery*/
