/* @group modules */
#headerTop .moduletable,
#headerTop .module,
#top .moduletable,
#top .module,
#bottom .moduletable,
#bottom .module {
  float: left; }

#headerTop .moduletable {
  float: left;
  padding: 0 0 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  #headerTop .moduletable .search {
    position: relative; }
    #headerTop .moduletable .search input {
      padding: 0 10px 0 35px;
      border: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      behavior: url("../templates/newEnglandArbors/resources/PIE.htc"); }
    #headerTop .moduletable .search button {
      position: absolute;
      top: 4px;
      left: 7px;
      width: 18px;
      border: none;
      text-indent: -999999px;
      background: url("../images/button_search.png") top left no-repeat;
      background-color: none; }
  #headerTop .moduletable:first-child {
    padding: 0; }

#header .moduletable {
  position: relative; }
  #header .moduletable .show-menu {
    background: #00548e;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto;
    color: #fff;
    padding: 1em;
    position: absolute;
    top: -20px;
    left: 0; }

.moduletable.logo {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.module.welcome {
  width: 65.957446809%;
  padding: 0 2.021276596% 0 0; }
  .module.welcome h3 {
    margin: 0; }
  .module.welcome p {
    margin-top: 0; }

.module.block {
  width: 28.936170213%;
  background: url("../images/bg_blockGradient.png") bottom left no-repeat;
  padding-left: 1.70212766%; }
  .module.block > div {
    background: url("../images/bg_blockGradient.png") bottom right no-repeat;
    padding-bottom: 1em; }
  .module.block > div > div {
    background: url("../images/bg_blockHeader.png") top left no-repeat;
    margin-left: -5.941%;
    padding-left: 5.940594059%; }
  .module.block > div > div > div {
    background: url("../images/bg_blockHeader.png") top right no-repeat;
    padding-right: 3.96039604%; }
  .module.block h3 {
    color: #fff;
    margin: 0px 0;
    padding: 7px 0 0; }

.moduletable .contentBottomBlock {
  float: left;
  width: 45.714285714%;
  padding: 0 4.2857142860% 0 0;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .moduletable .contentBottomBlock h3 {
    margin: 5px 0 0; }

.module.products {
  width: 65.957446809%;
  padding: 0 2.021276596% 0 0; }
  .module.products .product {
    width: 27.419354839%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 5.4838709685%; }
    .module.products .product a {
      color: #00548e; }
      .module.products .product a img {
        height: inherit; }
      .module.products .product a p {
        font-size: 1.714285714em;
        line-height: .75em;
        text-align: center;
        margin: 0 0 15px; }

.module.videos {
  margin-top: 48px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .moduletable.logo {
    float: none;
    display: block;
    text-align: center;
    margin-top: 26px; } }
@media only screen and (max-width: 767px) {
  .moduletable.logo {
    float: none;
    display: block;
    text-align: center;
    margin-top: 26px; }

  .module.welcome {
    width: 100%; }

  .moduletable .contentBottom {
    width: 100%;
    float: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 0 1em 0; }
    .moduletable .contentBottom img {
      float: left;
      margin: 0 2.142857143% 0 0; }

  .module.products {
    width: 100%;
    padding: 0;
    overflow: scroll; }
    .module.products > div {
      width: 5000px; }
    .module.products h3 {
      display: none; }
    .module.products .product {
      width: auto;
      margin: 0 30px; } }
#footer .moduletable {
  position: relative; }

@media only screen and (max-width: 480px) {
  .module.products .product {
    margin: 0 90px; }

  .moduletable .contentBottom img {
    float: none;
    margin: 0; } }
