/* @group modules */
.moduletable.icon {
  width: 26px;
  height: 26px; }
  .moduletable.icon img {
    display: block; }

#headerTop .moduletable {
  float: left;
  padding: 5px 0 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  #headerTop .moduletable .search {
    position: relative; }
    #headerTop .moduletable .search input {
      padding: 0 10px 0 35px;
      border: none;
      border-radius: 10px;
      line-height: 25px; }
      .ie7 #headerTop .moduletable .search input, .ie8 #headerTop .moduletable .search input {
        width: 85px; }
    #headerTop .moduletable .search button {
      position: absolute;
      top: 4px;
      left: 7px;
      width: 18px;
      height: 18px;
      border: none;
      text-indent: -999999px;
      background: url("../images/button_search.png") top left no-repeat; }
  #headerTop .moduletable.cart {
    background: url(https://cdn.shopify.com/s/files/1/0157/3614/t/2/assets/icon_cart.png?1292) left no-repeat;
    padding-left: 35px;
    margin-left: 5px;
    color: white;
    line-height: 1.8em;
    float: right; }
    #headerTop .moduletable.cart a {
      color: white; }
  #headerTop .moduletable:first-child {
    padding-left: 0; }

.moduletable.logo {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.module.welcome {
  float: left;
  width: 65.957446809%;
  padding: 0 2.021276596% 0 0; }
  .module.welcome h3 {
    margin: 0; }
  .module.welcome p {
    margin-top: 0; }

.module.newsletter {
  float: left; }

.moduletable .contentBottomBlock {
  float: left;
  width: 45.714285714%;
  padding: 0 4.2857142860% 0 0;
  display: block; }
  .moduletable .contentBottomBlock h3 {
    margin: 5px 0 0; }
  .moduletable .contentBottomBlock.leftClear {
    clear: left; }

.module.products {
  float: left;
  width: 68.085106383%; }
  .module.products .product {
    width: 24.6875%;
    float: left;
    margin-right: 8.645833333%; }
    .module.products .product a {
      color: #00548e; }
      .module.products .product a p {
        font-size: 1.714285714em;
        line-height: .75em;
        text-align: center;
        margin: 7px 0 15px; }

.module.videos {
  float: left;
  margin-top: 48px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .moduletable.logo {
    float: none;
    display: block;
    text-align: center;
    padding-top: 26px; } }
/*/mediaquery*/
@media only screen and (max-width: 767px) {
  #headerTop {
    border-top: 7px solid #0768ab;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    -ms-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
    body.menu-open #headerTop {
      left: 84%; }
    #headerTop .moduletable {
      float: right;
      padding: 5px 10px 0 0; }

  .moduletable.logo {
    float: none;
    display: block;
    text-align: center;
    padding-top: 70px; }

  .module.welcome {
    width: 100%; }

  .moduletable .contentBottom {
    width: 100%;
    float: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 0 1em 0; }
    .moduletable .contentBottom img {
      float: left;
      margin: 0 2.142857143% 0 0; }

  .module.products {
    float: none;
    width: 100%;
    padding: 0;
    overflow: scroll; }
    .module.products > div {
      width: 5000px; }
    .module.products h3 {
      display: none; }
    .module.products .product {
      width: auto;
      margin: 0 30px; }

  .module.videos {
    float: none;
    min-width: 272px;
    display: block;
    margin: 1em auto 0; }

  #footer .moduletable {
    position: relative; }

  .moduletable.show-menu {
    float: left !important;
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center; } }
/*/mediaquery*/
@media only screen and (max-width: 480px) {
  #headerTop .moduletable input {
    width: 100px; }
  #headerTop .moduletable:first-child {
    padding-right: 0; }

  .module.products .product {
    margin: 0 60px; }

  .moduletable .contentBottomBlock {
    float: none;
    width: 100%;
    padding: 0; }
    .moduletable .contentBottomBlock img {
      float: none;
      margin: 0;
      padding: 1.5%; } }
/*/mediaquery*/
