/* @group modules */
#headerTop .moduletable {
  float: left;
  padding: 0 0 0 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  #headerTop .moduletable .search {
    position: relative; }
    #headerTop .moduletable .search input {
      padding: 0 10px 0 35px;
      border: none; }
    #headerTop .moduletable .search button {
      position: absolute;
      top: 4px;
      left: 7px;
      width: 18px;
      border: none;
      text-indent: -999999px;
      background: url("../images/button_search.png") top left no-repeat;
      background-color: none; }
  #headerTop .moduletable:first-child {
    padding: 0; }

.moduletable.logo {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.module.welcome {
  width: 65.957446809%;
  padding: 0 2.021276596% 0 0; }
  .module.welcome h3 {
    margin: 0; }
  .module.welcome p {
    margin-top: 0; }

.module.block {
  width: 28.936170213%;
  background: url("../images/bg_blockGradient.png") bottom left no-repeat; }
  .module.block h3 {
    color: #fff;
    margin: 0px 0;
    padding: 0; }

@media only screen and (max-width: 767px) {
  .module.welcome {
    width: 100%; }

  .moduletable.logo {
    float: none;
    display: block;
    text-align: center;
    margin-top: 26px; } }
