div.pagination .pagination-start a,
div.pagination .pagination-prev a,
div.pagination .pagination-next a,
div.pagination .pagination-end a,
div.pagination .pagination-start span,
div.pagination .pagination-prev span,
div.pagination .pagination-next span,
div.pagination .pagination-end span {
  text-indent: -9999px; }
div.pagination .pagination-start {
  background: url("../images/pageFirst_normal.png") center center no-repeat; }
div.pagination .pagination-prev {
  background: url("../images/pagePrev_normal.png") center center no-repeat; }
div.pagination .pagination-next {
  background: url("../images/pageNext_normal.png") center center no-repeat; }
div.pagination .pagination-end {
  background: url("../images/pageLast_normal.png") center center no-repeat; }
div.pagination ul {
  margin: 0;
  padding: 0; }
  div.pagination ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    list-style: none; }
    div.pagination ul li:hover, div.pagination ul li.active {
      color: #000;
      text-decoration: none; }
    div.pagination ul li:first-child a, div.pagination ul li:first-child span {
      padding-left: 0; }
    div.pagination ul li a,
    div.pagination ul li span {
      padding: .25em .75em;
      font-size: 0.857em; }

@media only screen and (max-width: 767px) {
  div.pagination {
    position: none;
    text-align: center;
    padding: 0; }
    div.pagination ul a {
      font-size: 1.142857143em; } }
/*/mediaquery*/
