.categoryWrapper,
.productWrapper {
  margin-left: -2%;
  zoom: 1; }
  .categoryWrapper .category,
  .categoryWrapper .product,
  .productWrapper .category,
  .productWrapper .product {
    float: left;
    width: 30%;
    margin-left: 2%; }
    .categoryWrapper .category a,
    .categoryWrapper .product a,
    .productWrapper .category a,
    .productWrapper .product a {
      display: block; }
    .categoryWrapper .category .imageblock,
    .categoryWrapper .product .imageblock,
    .productWrapper .category .imageblock,
    .productWrapper .product .imageblock {
      margin-bottom: 7px; }
      .categoryWrapper .category .imageblock > div,
      .categoryWrapper .product .imageblock > div,
      .productWrapper .category .imageblock > div,
      .productWrapper .product .imageblock > div {
        height: 212px;
        line-height: 212px; }
    .categoryWrapper .category .title,
    .categoryWrapper .product .title,
    .productWrapper .category .title,
    .productWrapper .product .title {
      color: #00548e;
      min-height: 36px;
      margin: 0 2%; }
    .categoryWrapper .category .price,
    .categoryWrapper .product .price,
    .productWrapper .category .price,
    .productWrapper .product .price {
      float: right;
      text-align: right;
      color: #000; }
  .categoryWrapper .category .title,
  .productWrapper .category .title {
    font-size: 1.142857143em;
    text-align: center; }

@media only screen and (max-width: 480px) {
  .categoryWrapper .category .productName,
  .categoryWrapper .product .productName,
  .productWrapper .category .productName,
  .productWrapper .product .productName {
    text-align: left; } }
/*/mediaquery*/
