.itemWrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .itemWrapper h4 {
    margin-bottom: 1em; }
  .itemWrapper .leftSide {
    float: left;
    width: 52.777777778%;
    padding-right: 2.777777778%; }
    .itemWrapper .leftSide > div {
      padding: 1em 0;
      border-top: 1px solid #d8d8d8; }
      .itemWrapper .leftSide > div:first-child {
        padding-top: 0; }
    .itemWrapper .leftSide .productImg {
      border: none; }
      .itemWrapper .leftSide .productImg img {
        padding: 6px 5px;
        width: 97%;
        height: inherit; }
    .itemWrapper .leftSide .productThumbs {
      border: none; }
      .itemWrapper .leftSide .productThumbs a {
        padding: 0 0 0 3%; }
        .itemWrapper .leftSide .productThumbs a:first-child {
          padding: 0; }
        .itemWrapper .leftSide .productThumbs a img {
          padding: 4px 1.25%;
          width: 27%;
          height: inherit; }
    .itemWrapper .leftSide .productLinks {
      text-align: center; }
      .itemWrapper .leftSide .productLinks div.button {
        margin: 0 0 0 3%;
        padding: 0 0 0 15px; }
        .itemWrapper .leftSide .productLinks div.button:first-child {
          margin: 0; }
      .itemWrapper .leftSide .productLinks a {
        padding: 0 15px 0 0; }
  .itemWrapper .productHeader {
    width: 44.444444444%;
    padding: 0 0 1em 0;
    border: none;
    float: right; }
    .itemWrapper .productHeader p {
      margin: 0; }
    .itemWrapper .productHeader .productName {
      font-size: 1.714285714em;
      color: #00548e;
      margin: 0; }
  .itemWrapper .rightSide {
    float: left;
    width: 44.444444444%; }
    .itemWrapper .rightSide > div {
      padding: 1em 0;
      border-top: 1px solid #d8d8d8; }
    .itemWrapper .rightSide .productDetails dl {
      margin: 0;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
      .itemWrapper .rightSide .productDetails dl dt {
        float: left;
        width: 56.666666667%;
        padding: 0 0 0 3.333333333%; }
      .itemWrapper .rightSide .productDetails dl dd {
        float: left;
        margin: 0; }
    .itemWrapper .rightSide .productAcc ul {
      padding: 0 0 0 10%; }
    .itemWrapper .rightSide .productPrices {
      display: inline-block;
      *display: inline;
      *zoom: 1; }
      .itemWrapper .rightSide .productPrices input {
        float: left;
        height: 1em;
        margin: 0 5% 0 0; }
      .itemWrapper .rightSide .productPrices .productPrice,
      .itemWrapper .rightSide .productPrices .productName {
        float: left;
        line-height: 1em; }
      .itemWrapper .rightSide .productPrices .productName {
        width: 70%;
        margin: 0 0 1em 5%; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .itemWrapper .leftSide {
    width: auto;
    padding-right: 0;
    float: none; }
  .itemWrapper .productHeader {
    width: auto;
    float: left; }
  .itemWrapper .rightSide {
    width: auto;
    float: none; }
    .itemWrapper .rightSide .productPrices {
      width: 100%; }
      .itemWrapper .rightSide .productPrices input {
        width: 5%;
        float: left;
        height: 1em;
        margin: 0 3% 0 0; }
      .itemWrapper .rightSide .productPrices .productPrice,
      .itemWrapper .rightSide .productPrices .productName {
        width: 10%;
        float: left;
        line-height: 1em;
        margin: 0 2% 0 0; }
      .itemWrapper .rightSide .productPrices .productName {
        width: 80%;
        margin: 0 0 1em 0; } }
@media only screen and (max-width: 767px) {
  .itemWrapper .leftSide {
    width: auto;
    float: none; }
  .itemWrapper .productHeader {
    width: auto;
    float: left; }
  .itemWrapper .rightSide {
    width: auto;
    float: none; }
    .itemWrapper .rightSide .productPrices {
      width: 100%; }
      .itemWrapper .rightSide .productPrices input {
        width: 5%;
        float: left;
        height: 1em;
        margin: 0 3% 0 0; }
      .itemWrapper .rightSide .productPrices .productPrice,
      .itemWrapper .rightSide .productPrices .productName {
        width: 10%;
        float: left;
        line-height: 1em;
        margin: 0 2% 0 0; }
      .itemWrapper .rightSide .productPrices .productName {
        width: 80%;
        margin: 0 0 1em 0; } }
