.categoryWrapper,
.productWrapper {
  text-align: center;
  margin-left: -2%;
  zoom: 1; }
  .categoryWrapper .category,
  .categoryWrapper .product,
  .productWrapper .category,
  .productWrapper .product {
    float: left;
    width: 30%;
    margin-left: 2%; }
    .categoryWrapper .category a,
    .categoryWrapper .product a,
    .productWrapper .category a,
    .productWrapper .product a {
      display: block; }
    .categoryWrapper .category .image,
    .categoryWrapper .product .image,
    .productWrapper .category .image,
    .productWrapper .product .image {
      height: 125px;
      overflow: hidden;
      width: 95%;
      margin-bottom: 7px; }
    .categoryWrapper .category p,
    .categoryWrapper .product p,
    .productWrapper .category p,
    .productWrapper .product p {
      color: #00548e;
      min-height: 36px; }
      .categoryWrapper .category p.categoryName,
      .categoryWrapper .product p.categoryName,
      .productWrapper .category p.categoryName,
      .productWrapper .product p.categoryName {
        font-size: 1.142857143em;
        text-align: center; }
      .categoryWrapper .category p.productName,
      .categoryWrapper .product p.productName,
      .productWrapper .category p.productName,
      .productWrapper .product p.productName {
        width: 62%;
        float: left;
        padding: 0 0 0 2%; }
      .categoryWrapper .category p.productPrice,
      .categoryWrapper .product p.productPrice,
      .productWrapper .category p.productPrice,
      .productWrapper .product p.productPrice {
        width: 33%;
        float: right;
        text-align: right;
        padding: 0 2% 0 0;
        color: #000; }

@media only screen and (max-width: 480px) {
  .categoryWrapper .category .productName,
  .categoryWrapper .product .productName,
  .productWrapper .category .productName,
  .productWrapper .product .productName {
    text-align: left; } }
/*/mediaquery*/
