.categoryWrapper,
.productWrapper {
  margin-left: -2.778%; }
  .categoryWrapper .category,
  .categoryWrapper .product,
  .productWrapper .category,
  .productWrapper .product {
    width: 30%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 0 0 2.777777778%; }
    .categoryWrapper .category a,
    .categoryWrapper .product a,
    .productWrapper .category a,
    .productWrapper .product a {
      display: inline-block;
      *display: inline;
      *zoom: 1; }
    .categoryWrapper .category img,
    .categoryWrapper .product img,
    .productWrapper .category img,
    .productWrapper .product img {
      height: inherit; }
    .categoryWrapper .category p,
    .categoryWrapper .product p,
    .productWrapper .category p,
    .productWrapper .product p {
      color: #00548e;
      margin: 5px 0 35px 0; }
      .categoryWrapper .category p.categoryName,
      .categoryWrapper .product p.categoryName,
      .productWrapper .category p.categoryName,
      .productWrapper .product p.categoryName {
        font-size: 1.142857143em;
        text-align: center; }
      .categoryWrapper .category p.productName,
      .categoryWrapper .product p.productName,
      .productWrapper .category p.productName,
      .productWrapper .product p.productName {
        width: 58%;
        float: left;
        padding: 0 0 0 2%; }
      .categoryWrapper .category p.productPrice,
      .categoryWrapper .product p.productPrice,
      .productWrapper .category p.productPrice,
      .productWrapper .product p.productPrice {
        width: 38%;
        float: right;
        text-align: right;
        padding: 0 2% 0 0;
        color: #000; }

.itemWrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1; }
  .itemWrapper h4 {
    margin-bottom: 1em; }
  .itemWrapper .leftSide {
    float: left;
    width: 52.777777778%;
    padding-right: 2.777777778%; }
    .itemWrapper .leftSide > div {
      padding: 1em 0;
      border-top: 1px solid #d8d8d8; }
      .itemWrapper .leftSide > div:first-child {
        padding-top: 0; }
    .itemWrapper .leftSide .productImg {
      border: none; }
      .itemWrapper .leftSide .productImg img {
        padding: 6px 5px;
        width: 97%;
        height: inherit; }
    .itemWrapper .leftSide .productThumbs {
      border: none; }
      .itemWrapper .leftSide .productThumbs a {
        padding: 0 0 0 3%; }
        .itemWrapper .leftSide .productThumbs a:first-child {
          padding: 0; }
        .itemWrapper .leftSide .productThumbs a img {
          padding: 4px 1.25%;
          width: 27%;
          height: inherit; }
    .itemWrapper .leftSide .productLinks {
      text-align: center; }
      .itemWrapper .leftSide .productLinks div.button {
        margin: 0 0 0 3%;
        padding: 0 0 0 15px; }
        .itemWrapper .leftSide .productLinks div.button:first-child {
          margin: 0; }
      .itemWrapper .leftSide .productLinks a {
        padding: 0 15px 0 0; }
  .itemWrapper .rightSide {
    float: left;
    width: 41.666666667%; }
    .itemWrapper .rightSide > div {
      padding: 1em 0;
      border-top: 1px solid #d8d8d8; }
      .itemWrapper .rightSide > div:first-child {
        padding-top: 0; }
    .itemWrapper .rightSide .productHeader {
      border: none; }
      .itemWrapper .rightSide .productHeader p {
        margin: 0; }
      .itemWrapper .rightSide .productHeader .productName {
        font-size: 1.714285714em;
        color: #00548e;
        margin: 0; }
    .itemWrapper .rightSide .productDetails dl {
      margin: 0;
      display: inline-block;
      *display: inline;
      *zoom: 1; }
      .itemWrapper .rightSide .productDetails dl dt {
        float: left;
        width: 56.666666667%;
        padding: 0 0 0 3.333333333%; }
      .itemWrapper .rightSide .productDetails dl dd {
        float: left;
        margin: 0; }
    .itemWrapper .rightSide .productAcc ul {
      padding: 0 0 0 10%; }
    .itemWrapper .rightSide .productPrices {
      display: inline-block;
      *display: inline;
      *zoom: 1; }
      .itemWrapper .rightSide .productPrices input {
        float: left;
        height: 1em;
        margin: 0 5% 0 0; }
      .itemWrapper .rightSide .productPrices .productPrice {
        float: left; }
      .itemWrapper .rightSide .productPrices .productName {
        float: left;
        width: 70%;
        margin: 0 0 1em 5%; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categoryWrapper,
  .productWrapper {
    text-align: center; }
    .categoryWrapper .category,
    .categoryWrapper .product,
    .productWrapper .category,
    .productWrapper .product {
      width: 45.188284519%; } }
@media only screen and (max-width: 767px) {
  .categoryWrapper,
  .productWrapper {
    text-align: center; }
    .categoryWrapper .category,
    .categoryWrapper .product,
    .productWrapper .category,
    .productWrapper .product {
      width: 43.99185336%; } }
@media only screen and (max-width: 480px) {
  .categoryWrapper,
  .productWrapper {
    text-align: center; }
    .categoryWrapper .category,
    .categoryWrapper .product,
    .productWrapper .category,
    .productWrapper .product {
      width: 100%;
      margin: 0; } }
