.submission-list {

}

.submission-list .item {
	text-align: center;
}

.submission-list .imageblock > div {
	height: 125px;
	line-height: 125px;
}

@media only screen and (min-width: 768px) {
	.submission-list .item {
		float: left;

		width: 30%;
		padding-right: 2.5%;
	}
}