@import "_variables";

// dealer category page

.categories ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;

		.item-title a {
			font-size: 1.142857143em;
			margin: 1em 0;
			display: inline-block;
			*display: inline;
			*zoom: 1;
		}
		&.first .item-title a {margin-top: 0;}
	}
}


// our staff and video category blocks

.media-blog {
	.items-row {
		float: left;
	}


	.item {
		width: 45%;
		padding-right: 2.5%;
		float: left;
		
		.media {
			float: left;
			padding: 0 2.5% 5px 0;
		}
		
		h2 {
			font-size: 1em;
			margin: 0;
		}
		
		.subtitle {
			font-size: 1em;
			font-weight: bold;
			color: $maincolor;
			margin: 0 0 0.5em 0;
		}
	}
}

.blog {
	
	//inside category
	&.categories {
		
		.items-row {
			display: block;
			border-top: 1px solid $bordercolor;
			&.row-0 {
				display: inline-block;
				*display: inline;
				*zoom: 1;
				border-top: none;
			}
			
			h2 {
				margin-top: 14px;
				height: 1em;
			}
			
			p {margin-left: 2em;}
		}
	}
	
	.items-row {
		clear: both;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
	
	// video page
	&.videos {
		.item {
			width: 350px;
			padding: 0 10px 0 0;
			float: left;

			h2 {height: auto;}
		}
	}
}

@media only screen and (max-width: 1024px) {
	
	.blog {
		&.videos {
			.item {
				width: 100%;
				padding: 0;

				h2 {height: 1em;}
			}
		}
	}
	
}/*/mediaquery*/

@media only screen and (max-width: 767px) { // cell + table

	.media-blog  .item {
		width: 100%;
		padding: 0;
		float: static;
		margin-bottom: 1em;		
		
		.media { padding: 0 10px 5px 0; }		
	}
	
}/*/mediaquery*/