@import "_variables";

.blog {
	
	.items-row {
		clear: both;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
	
	.staffBlock {
		width: 45%;
		padding-right: 2.5%;
		float: left;
		display: inline-block;
		*display: inline;
		*zoom: 1;

		img {
			float: left;
			padding: 0 2.5% 5px 0;
		}

		h2 {
			font-size: 1em;
			margin: 0
		}

		span.jobTitle {
			font-size: 1em;
			font-weight: bold;
			color: $maincolor;
			margin: 0 0 .5em 0;
			display: block;
		}
	}
	
	&.videos {
		.item {
			max-width: 350px;
			padding: 0 10px 0 0;
			float: left;

			h1 {height: 50px;}
		}
	}
}

@media only screen and (max-width: 991px) {
	a{}
	
	.videoBlock {
		width: 100%;
		padding: 0 10px 0 0;
		float: left;
	}
}


@media only screen and (max-width: 767px) { // cell + table
	a{}

	.blog {
		.staffBlock {
			width: 100%;
			padding-left: 0;
			float: left;
			display: inline-block;
			*display: inline;
			*zoom: 1;
			margin-bottom: 1em;
			
			img {padding: 0 10px 5px 0;}
		}	
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone

}

@media only screen and (max-width: 480px) {
	a{} // FIXME REMOVE

}