/* elements */
@import "_variables";

body {
	color: #444; /* off black */
	font-family: 'Goudy Old Style', Helvetica, Arial, sans-serif;
	font-size: 0.875em; /*14px/16px*/
	overflow-x: hidden;
	background: $maincolor;
	
}

@font-face {
    font-family: 'Goudy Old Style';
    src: url('../resources/GOUDOS.eot');
    src: url('../resources/GOUDOS.eot?#iefix') format('embedded-opentype'),
         url('../resources/GOUDOS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:-moz-placeholder {
  color: #999999; }

::-webkit-input-placeholder {
  color: #999999; }

select, input, textarea {
	color: #444; /* off black */
	font-family: Goudy Old Style, Helvetica, Arial, sans-serif;
}

p {margin-top: 0;}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	color: $maincolor;
	font-weight: bold; 
}

h1 {font-size: 1.714285714em;}

h2 {font-size: 1.142857143em;}

h3 {font-size: 1em;}
 
.module h3,
.moduletable h3 {
	font-size: 1.714285714em; // 24/14
	font-weight: normal;
	margin: 0 0 20px;
}

h4 {
	font-size: 1.142857143em;
}

.item-page h1,
.item-page h4,
.blog h1 {margin-top: 0;}

.module.products img,
.contentBottomBlock img,
.imageblock {
	max-width: 98%;
	padding: 2%;
	border: 1px solid $bordercolor;
	background-color: #ede9e9;

	border-radius: 4px;
	box-shadow: 0px 12px 12px -12px #444;
	height: auto;

	img { height: auto; }
}

img {
	max-width: 100%;

	.ie7 &, .ie8 & {
		max-width: auto;
	}
}

ol {
	padding: 0 0 0 20px;
	color: $maincolor;
}

a, a:active, a:visited {
	color: $maincolor;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

input {height: 25px;}

hr {border-color: $bordercolor;}