/* layout */

//default screen size

@import "_variables.scss";

.container {
	width: 90%;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 1.041666667%;
}

#wrapper {
	box-shadow: 0px 0px 20px #000;
	position: relative;
	width: 100%;
	left: 0;
	background: #fff;
	
	-webkit-transition: left .5s ease-in-out;
	-moz-transition: left .5s ease-in-out;
	-o-transition: left .5s ease-in-out;
	-ms-transition: left .5s ease-in-out;
	transition: left .5s ease-in-out;
}

#header {
	padding: 0 0 40px 0;
	border-top: 7px solid #0768ab;
}

#headerTop {
	display: block;
	float: right;
	
	> div {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		background: url('../images/bg_headerTop.png') top left no-repeat;
		padding: 0 0 0 16px;
		height: 41px;
		
		> div {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			background: url('../images/bg_headerTop.png') bottom right no-repeat;
			padding: 4px 11px 7px 0px;
		}
	}
}

#masthead {
	height: 74px;
	background: url('../images/bg_masthead.jpg') top center no-repeat;
	
	.home & {display: none;}
}

#top {
	padding: 0 0 25px;
	border-bottom: 1px solid $bordercolor;
}

#body {
	background: url('../images/bg_body.jpg') top center no-repeat;
	.container {
		border-bottom: 1px solid $bordercolor;
		padding: 25px 0 20px;
	}
}
.home #body {background: none;}

#sidebar {
	float: left;
	width: 200px; // 200/940
}

#content {
	padding: 0 0 0 2.021276596%; // 19/940
	border-left: 1px solid $bordercolor;
	margin-left: 200px; // 200/940;
	*zoom: 1;

	.item-page {
		position: relative;
	}
	#contentBottom {
		border-top: 1px solid $bordercolor;
		padding: 30px 0 0 0;
	}
	&.wide1 {
		width: 100%;
		margin-left: 0;
		border-left: none;
		padding-left: 0;
	}
	&.wide2 {
		width: auto;
	}
}

#bottom {padding: 25px 0 0;}

#footer {
	background: url('../images/bg_footer.png') center 80% no-repeat;
	padding: 30px 0 50px;
}

#copyright {
	background: url('../images/bg_copyrightRepeat.png') top center repeat-x;
	text-align: center;
	font-size: 14px;
	padding: 45px 0 20px;
	color: #fff;
	
	a {color: #fff;}

	> div {
		background: url('../images/bg_copyright.png') center bottom no-repeat;
		padding-bottom: 2em;
	}
}

//end of default screen size

@media only screen and (max-width: 767px) {  // phone/table
	a {} // FIXME get ride of this crap
	
	#header {
		padding: 0 0 20px 0;
	}
	
	#wrapper.menu-open {left: 95%;}
	
	#headerTop {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
	#body {background: none;}
	
	#content {
		width: 100%;
		padding: 0;
		border: none;
		margin-left: 0;
	}
	
	#footer {
		background: none;
		padding: 10px 0 20px;
	}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone
	
}