/* layout */

//default screen size

@import "_variables.scss";

.container {
	width: 90%;
	max-width: 940px;
	margin: 0 auto;
	padding: 0 1.041666667%;
}

#wrapper {
	box-shadow: 0px 0px 20px #000;
	position: relative;
	width: 100%;
	left: 0;
	background: #fff;
	
	-webkit-transition: left .5s ease-in-out;
}

#header {
	padding: 0 0 40px 0;
	border-top: 6px solid $maincolor;
}

#headerTop { float: right; }
#headerTop > div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: $maincolor;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8px 11px 11px 16px;
}

#top {
	padding: 40px 0 25px;
	border-bottom: 1px solid #e6e6e6;
}

#footer {
	background: url('../images/bg_footer.png') center 80% no-repeat;
	padding: 30px 0 50px;
}

#copyright {
	background: url('../images/bg_copyrightRepeat.png') top center repeat-x;
	text-align: center;
	font-size: 14px;
	padding: 45px 0 20px;
	color: #fff;
	
	a {color: #fff;}

	> div {
		background: url('../images/bg_copyright.png') center bottom no-repeat;
		padding-bottom: 2em;
	}
}

//end of default screen size

@media only screen and (max-width: 767px) {  // phone/table
	a {} // FIXME get ride of this crap
	
	#wrapper.menu-open {left: 95%;}
	
	#headerTop {
		float: none;
		text-align: center;
	}
	
	#footer {background: none;}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone
	
}