@import "_variables";

.moduletable_hmenu {
	
	 .menu {
		margin: 0;
		padding: 0;
		
		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;

			padding: 0 5px;
		}
	}
	
	a {color: $maincolor;}
}

.moduletable_hmenu.primary {
	width: auto;
	margin: 34px 0 0 320px;
	text-align: right;
	
	li {
		width: auto;
		padding: 0 0 0 3.225806452%; // 20/620
		&:first-child {padding: 0;}
	}
	li.item-117 {display: none;} // FIXME - CHANGE TO NEW MENU ITEM 
	
	a {
		font-size: 1.142857143em; // 16/14
		padding: 0 0 8px 0;
		&:hover {
			text-decoration: none;
			background: url('../images/nav_rollover.png') bottom center no-repeat;
		}
	}
}

.moduletable_hmenu.secondary {
	text-align: center;
	
	li.active a {color: #b1cce1;}

}

.moduletable_hmenu.masthead {
	li {
		display: none;
		padding: 0;
		&.active {display: block;}
	}
	
	a,
	span {
		font-size: 1.714285714em;
		color: #fff;
		line-height: 74px;
		&:hover {text-decoration: none;}
	}
}

.moduletable_vmenu.sidebar {
	
	.menu {
		position: relative;
		margin: -1em 0 0 0;
		padding: .5em 10px 1em 0;
		list-style: none;
		background: url('../images/bg_sidebarMenu.png') bottom center no-repeat;
		
		li {
			display: block;
			height: 35px;
			line-height: 35px;
			vertical-align: middle;
			margin: 0 0 1em -10px;
			padding: 0 0 0 10px;
			&:hover,
			&.active {
				background: url('../images/rollover_vmenu.png') top left no-repeat;
				a,
				span {
					color: #fff;
					text-decoration: none;
					background: url('../images/rollover_vmenu.png') bottom right no-repeat;
				}
			}
			
			a, 
			span {
				font-size: 1.142857143em;
				display: block;
				color: $maincolor;
				white-space: nowrap;
			}
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	a{}
	
	.moduletable_hmenu.primary {
		display: block;
		float: left;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 767px) { // cell + table
	a{}

	.moduletable_hmenu.primary {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: $maincolor;
		text-align: left;
		
		float: none;
		margin: 20px 0 0 0;
		font-size: 14px;
		
		.menu {
			margin: 0 20px;
			padding: 0 1.2em;
			background: whitesmoke;
			width: 100%;
			border: 1px solid #002d4c;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
			behavior: url('../templates/newEnglandArbors/resources/PIE.htc');
			
			li {
				display: block;
				border-top: 1px solid $bordercolor;
				line-height: 44px;
				margin-left: -1em;
				padding-left: 1em;
				
				ul {
					margin: 0;
					padding-left: 0;
					li {
						background: #fff;
						padding-left: 3em;
						margin-left: -1em;
					}
				}
			}
		}
		
		
		a { 
			color: $maincolor;
			font-size: 1.428571429em; // 20/14
			&:hover {background: none;}
		}
	}
}