@import "_variables";

.moduletable_hmenu {
	
	 .menu {
		margin: 0;
		padding: 0;
		
		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;

			padding: 0 5px;
		}
	}
	
	a {color: $maincolor;}
}

.moduletable_hmenu.primary {
	
	float: right;
	margin-top: 34px;
	
	a {
		font-size: 1.142857143em; // 16/14
		padding: 0 0 5px 0;
		&:hover {
			text-decoration: none;
			background: url('../images/nav_rollover.png') bottom center no-repeat;
		}
	}
}

.moduletable_hmenu.secondary {
	text-align: center;
	
	li.active a {color: #b1cce1;}

}

.moduletable_vmenu.sidebar {
	
	.menu {
		position: relative;
		margin: -1em 0 0 0;
		padding: 0 0 .5em 0;
		list-style: none;
		background: url('../images/bg_sidebarMenu.png') bottom center no-repeat;
		
		> li {
			display: none;
			&.active {
				display: block;
				
				> a {
					position: absolute;
					left: 0;
					top: -68px;
					font-size: 1.714285714em;
					color: #fff;
				}
			}
			&.active.parent {
				display: block;
				
				> a {
					position: absolute;
					left: 0;
					top: -81px;
					font-size: 1.714285714em;
					color: #fff;
				}
			}
		
		}
		
		ul {
			padding: 0;
			list-style: none;
			
			li {
				display: block;
				height: 35px;
				line-height: 35px;
				vertical-align: middle;
				margin: 0 0 0 -10px;
				padding: 0 0 0 10px;
				&:hover {
					background: url('../images/rollover_vmenu.png') top left no-repeat;
					a {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}
	
	a, 
	span {
		display: block;
		color: $maincolor;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}

@media only screen and (max-width: 767px) { // cell + table
	a{}

	.moduletable_hmenu.primary {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: $maincolor;
		
		float: none;
		margin: 20px 0 0 0;
		font-size: 14px;
		
		.menu {
			padding: 0 0 0 20px;
		}
		
		.menu li {
			display: block;
			padding: 0 4px;
			margin: 10px 0;
		}
		
		.menu ul {
			margin-left: 1em;
		}
		
		a { 
			color: white;
			font-size: 1.428571429em;
		} // 20/14
	}
}