/* @group modules */
@import "_variables";

.moduletable {}

#headerTop,
#top,
#bottom {
	.moduletable,
	.module { float: left; }
}

// headerTop modules

#headerTop {
	.moduletable {
		float: left;
		padding: 0 0 0 10px;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		
		.search {
			position: relative;
			
			input {
				padding: 0 10px 0 35px;
				border: none;
			}
			button {
				position: absolute;
				top: 4px;
				left: 7px;
				width: 18px;
				border: none;
				text-indent: -999999px;
				background: url('../images/button_search.png') top left no-repeat;
				background-color: none;
			}
		}
		&:first-child {padding: 0;}
	}
}

// #top modules

.moduletable.logo {
	float: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.module.welcome {
	width: 65.957446809%; // 620/940
	padding: 0 2.021276596% 0 0; // 20/940 
	
	h3 {margin: 0;}
	p {margin-top: 0;}
}

// block module

.module.block {
	width: 28.936170213%; // 272/940
	background: url('../images/bg_blockGradient.png') bottom left no-repeat;
	padding-left: 1.70212766%;
	
	
	> div {
		background: url('../images/bg_blockGradient.png') bottom right no-repeat;
		padding-bottom: 1em;
	}
	
	> div > div {
		background: url('../images/bg_blockHeader.png') top left no-repeat;
		margin-left: -5.940594059%;
		padding-left: 5.940594059%;
	}
	
	> div > div > div {
		background: url('../images/bg_blockHeader.png') top right no-repeat;
		padding-right: 3.96039604%;
	}
	
	h3 {
		color: #fff;
		margin: 0px 0;
		padding: 7px 0 0;
	}
	
}

// #contentBottom modules

.moduletable {
	.contentBottom {
		float: left;
		width: 45.714285714%;
		padding: 0 4.2857142860% 0 0;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		
		h3 {margin: 5px 0 0;}
	}
}

// #bottom modules

.module.products {
	width: 65.957446809%; // 620/940
	padding: 0 2.021276596% 0 0; // 20/940	
	
	.product {
		width: 27.419354839%;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin-right: 5.4838709685%;
		
		a {
			color: $maincolor;
			
			img {height: inherit;}

			p {
				font-size: 1.714285714em;
				line-height: .75em;
				text-align: center;
				margin: 0 0 15px;
			}
		}
	}
}

.module.videos {margin-top: 48px;}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 767px) {
	a{}
	
	// header modules
	
	.moduletable.logo {
		float: none;
		display: block;
		text-align: center;
		margin-top: 26px;
	}

	// #top modules
	
	.module.welcome {width: 100%;}
	
	// #contentBottom modules
	
	.moduletable {
		.contentBottom {
			width: 100%;
			float: none;
			display: inline-block;
			*display: inline;
			*zoom: 1;
			margin: 0 0 1em 0;
			
			img {
				float: left;
				margin: 0 2.142857143% 0 0;
			}

		}
	}
	
	// #bottom modules
	
	.module.products {
		width: 10000px; // FIXME Should be able to use 100%
		padding: 0;
		
		h3 {display: none;}
		
		.product {
			width: auto;
			margin: 0 30px;
		}
		
		> div {
			width: 100%;
			overflow: scroll;
		}
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
	a{} // FIXME REMOVE
	
	.module.products {
		
		.product {margin: 0 90px;}
		
	}
}
