/* @group modules */
@import "_variables";
@import "_mixins";

.moduletable {

	&.icon {
		width: 26px;
		height: 26px;

		img {
			display: block;
		}
	}
}

// headerTop modules

#headerTop {
	.moduletable {
		float: left;
		padding: 5px 0 0 10px;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		
		.search {
			position: relative;
			
			input {
				padding: 0 10px 0 35px;
				border: none;
				border-radius: 10px;
				line-height: 25px;
			}
			button {
				position: absolute;
				top: 4px;
				left: 7px;
				width: 18px;
				height: 18px;
				border: none;
				text-indent: -999999px;
				background: url('../images/button_search.png') top left no-repeat;
			}
		}
		&.cart {
			background: url(http://cdn.shopify.com/s/files/1/0157/3614/t/2/assets/cart.png?503) left no-repeat;
			padding-left: 35px;
			margin-left: 5px;
			color: white;
			line-height: 1.8em;
			float: right;

			a { color: white; }
		}
		&:first-child {padding-left: 0;}
	}
}

// #header modules

.moduletable.logo {
	float: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

// #top modules

.module.welcome {
	float: left;
	width: 65.957446809%; // 620/940
	padding: 0 2.021276596% 0 0; // 20/940 
	
	h3 {margin: 0;}
	p {margin-top: 0;}
}

.module.newsletter {float: left;}


// #contentBottom modules

.moduletable {
	.contentBottomBlock {
		float: left;
		width: 45.714285714%;
		padding: 0 4.2857142860% 0 0;
		display: block;
		
		h3 {margin: 5px 0 0;}
		
		&.leftClear {clear: left;}
	}
}

// #bottom modules

.module.products {
	float: left;
	width: 68.085106383%; // 620/940
	
	.product {
		width: 24.6875%; // 158/640
		float: left;
		margin-right: 8.645833333%; // 38/640
		
		a {
			color: $maincolor;

			p {
				font-size: 1.714285714em;
				line-height: .75em;
				text-align: center;
				margin: 7px 0 15px;
			}
		}
	}
}

.module.videos {
	float: left;
	margin-top: 48px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.moduletable.logo {
		float: none;
		display: block;
		text-align: center;
		padding-top: 26px;
	}
}/*/mediaquery*/

@media only screen and (max-width: 767px) {
	
	#headerTop {
		border-top: 7px solid #0768ab;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 10;
		
		@include transition (left 0.3s ease-in-out);
		
		body.menu-open & {
			left: 84%;
		}

		.moduletable { 
			float: right;
			padding: 5px 10px 0 0;
		}
	}
	
	// header modules
	
	.moduletable.logo {
		float: none;
		display: block;
		text-align: center;
		padding-top: 70px;
	}

	// #top modules
	
	.module.welcome {width: 100%;}
	
	// #contentBottom modules
	
	.moduletable {
		.contentBottom {
			width: 100%;
			float: none;
			display: inline-block;
			*display: inline;
			*zoom: 1;
			margin: 0 0 1em 0;
			
			img {
				float: left;
				margin: 0 2.142857143% 0 0;
			}

		}
	}
	
	// #bottom modules
	
	.module.products {
		float: none;
		width: 100%;
		padding: 0;
		overflow: scroll;
		
		> div {width: 5000px;}
		
		h3 {display: none;}
		
		.product {
			width: auto;
			margin: 0 30px;
		}
	}
	
	.module.videos {
		float: none;
		min-width: 272px;
		display: block;
		margin: 1em auto 0;
	}

	#footer {.moduletable {position: relative;}}

	// show-menu mod

	.moduletable.show-menu {
		float: left !important;
		display: block;
		width: auto;
		padding: 0;
		margin: 0;
		text-align: center;
	}
}/*/mediaquery*/

@media only screen and (max-width: 480px) {
	
	#headerTop {
		
		.moduletable {
			input {
				width: 100px;
			}
			&:first-child {
				padding-right: 0;
			}
		}
	}
	
	.module.products {
		.product {margin: 0 60px;}
	}
	
	.moduletable {
		.contentBottomBlock {
			float: none;
			width: 100%;
			padding: 0;
			
			img {
				float: none;
				margin: 0;
				padding: 1.5%;
			}
		}
	}
}/*/mediaquery*/
