/* @group modules */
.moduletable {}

@import "_variables";

#headerTop {
	.moduletable {
		float: left;
		padding: 0 0 0 10px;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		
		.search {
			position: relative;
			
			input {
				padding: 0 10px 0 35px;
				border: none;
			}
			button {
				position: absolute;
				top: 4px;
				left: 7px;
				width: 18px;
				border: none;
				text-indent: -999999px;
				background: url('../images/button_search.png') top left no-repeat;
				background-color: none;
			}
		}
		&:first-child {padding: 0;}
	}
}


/* @primary menu */
.moduletable_hmenu {}

.moduletable_hmenu.primary {
	float: right;
	margin-top: 34px;
	
	a {
		color: $maincolor;
		font-size: 1.071428571em;
		padding: 0 0 5px 0;
		&:hover {
			text-decoration: none;
			background: url('../images/nav_rollover.png') bottom center no-repeat;
		}
	}
}

.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu > ul > li {
.moduletable.logo {
	float: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.module.welcome {
	width: 65.957446809%; // 620/940
	padding: 0 2.021276596% 0 0; // 20/940 
	
	h3 {margin: 0;}
	p {margin-top: 0;}
}

.moduletable.logo {
	float: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {
	a{}
	
	.module.welcome {
		width: 100%;
	}

	.moduletable.logo {
		float: none;
		display: block;
		text-align: center;
		margin-top: 26px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

}
