@import "_variables";

div.pagination {
	
	.pagination-start a,
	.pagination-prev a,
	.pagination-next a,
	.pagination-end a,
	.pagination-start span,
	.pagination-prev span,
	.pagination-next span,
	.pagination-end span {
		text-indent: -9999px;
	}
	
	.pagination-start {background: url('../images/pageFirst_normal.png') center center no-repeat;}

	.pagination-prev {background: url('../images/pagePrev_normal.png') center center no-repeat;}
	
	.pagination-next {background: url('../images/pageNext_normal.png') center center no-repeat;}
	
	.pagination-end {background: url('../images/pageLast_normal.png') center center no-repeat;}
	
	
	ul {
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			list-style: none;
			&:hover,
			&.active {color: #000; text-decoration: none;};
			&:first-child a,
			&:first-child span {padding-left: 0;}

			a,
			span {
				padding: .25em .75em;
				font-size: .857142857em
			}
		}
	}
}

@media only screen and (max-width: 767px) { // cell + table
	
	div.pagination {
		position: none;
		text-align: center;
		padding: 0;
		
		ul {
			a {font-size: 1.142857143em;}
		}
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone

}