@import "_variables.scss";

.categoryWrapper,
.productWrapper {
	text-align: center;
	margin-left: -2%;
	
	.category,
	.product {
		float: left;
		width: 30%;
		margin-left: 2%;
		
		a {
			display: block;
		}
		
		.image {
			height: 125px;
			overflow: hidden;
			width: 95%;
			margin-bottom: 7px;
		}
		
		p {
			color: $maincolor;

			&.categoryName {
				font-size: 1.142857143em; // 16/14
				text-align: center;
			}
			&.productName {
				width: 62%;
				float: left;
				padding: 0 0 0 2%;
			}
			&.productPrice {
				width: 33%;
				float: right;
				text-align: right;
				padding: 0 2% 0 0;
				color: #000;
			}
		}
	}
}

@media only screen and (max-width: 480px) {

	.categoryWrapper,
	.productWrapper {

		.category,
		.product {
			
			.productName {text-align:left;}
		}
	}
}/*/mediaquery*/