@import "_variables.scss";

// products page

.categoryWrapper,
.productWrapper {
	margin-left: -2%; // 14/715
	
	.category,
	.product {
		width: 30.769230769%; // 220/715
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 0 0 0 2%;
		
		img {height: inherit;}

		p {
			color: $maincolor;
			margin: 0 0 40px 0;
			&.categoryName {
				font-size: 1.142857143em; // 16/14
				text-align: center;
			}
			&.productName {
				width: 58%;
				float: left;
				padding: 0 0 0 2%;
			}
			&.productPrice {
				width: 38%;
				float: right;
				text-align: right;
				padding: 0 2% 0 0;
				color: #000;
			}
		}
	}
}

// product item page

.itemWrapper {
	
	.leftSide {
		
		float: left;
		width: 52.777777778%; // 380/720
		padding-right: 2.777777778%; // 20/720
		
		> div {
			padding: 1em 0; 
			border-bottom: 1px solid $bordercolor;
			&:first-child {padding-top: 0;}
		}
		
		.productImg {
			img {
				padding: 6px 5px;
				width: 97%;
				height: inherit;
			}
		}
		
		.productThumbs {

			a {
				padding: 0 0 0 3%; // 12/400
				&:first-child {padding: 0;}
				
				img {
					padding: 4px 1.25%;
					width: 27%; // 108/400
					height: inherit;
				} 
			}
		}
		.productLinks {
			text-align: center;

			div.button {
				margin: 0 0 0 3%; // 12/400
				padding: 0 0 0 15px;
				&:first-child {margin: 0;}
			}

			a {padding: 0 15px 0 0;}
		}
	}
	
	.rightSide {
		float: left;
		width: 41.666666667%; // 300/720
		
		> div {
			padding: 1em 0; 
			border-bottom: 1px solid $bordercolor;
			&:first-child {padding-top: 0;}
		}
		
		.productHeader {
			p {margin: 0;}
			
			.productName {
				font-size: 1.714285714em;
				color: $maincolor;
				padding: 0 0 .5em;
				
			}
			.productPrice {
				
			}
		}
		
		.productDetails {
			
			dl {
				margin: 0;
				display: inline-block;
				*display: inline;
				*zoom: 1;
				
				dt {
					float: left;
					width: 56.666666667%; // 170/300
					padding: 0 0 0 3.333333333%; // 10/300
				}
				dd {
					float: left;
					margin: 0;
				}	
			}
		}
	}
	
}
