@import "_variables.scss";

// product item page

.itemWrapper {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	h4 {margin-bottom: 1em;}
	
	.leftSide {
		float: left;
		width: 52.777777778%; // 380/720
		padding-right: 2.777777778%; // 20/720
		
		> div {
			padding: 1em 0; 
			border-top: 1px solid $bordercolor;
			&:first-child {padding-top: 0;}
		}
		
		.productImg {
			border: none;
			
			img {
				padding: 6px 5px;
				width: 97%;
				height: inherit;
			}
		}
		
		.productThumbs {
			border: none;
			text-align: center;
			margin-left: -2%;

			.thumb {
				float: left;
				width: 47%;
				margin-left: 2%;
				margin-bottom: 1em;
				cursor: pointer;
				
				.imageblock > div { 
					height: 108px;
					line-height: 108px;
				}
			}
		}
		.productLinks {
			text-align: center;

			div.button {
				margin: 0 0 0 3%; // 12/400
				padding: 0 0 0 15px;
				&:first-child {margin: 0;}
			}

			a {padding: 0 15px 0 0;}
		}
	}
	
	// not floated within left and right side in desktop
	.productHeader {
		width: 44.444444444%; // 320/720
		padding: 0 0 1em 0;
		border: none;
		float: right;
		
		p {margin: 0;}
		
		.productName {
			font-size: 1.714285714em;
			color: $maincolor;
			margin: 0;
		}
	}
	
	.rightSide {
		float: left;
		width: 44.444444444%; // 320/720
		
		.productDetails {
			
			dl {
				margin: 0;
				display: inline-block;
				*display: inline;
				*zoom: 1;
				
				dt {
					float: left;
					width: 56.666666667%; // 170/300
					padding: 0 0 0 3.333333333%; // 10/300
				}
				dd {
					float: left;
					margin: 0;
				}	
			}
		}
		
		.productAcc ul { padding: 0 0 0 10%; } // 10/300

		.links {
			padding: 0;

			li {
				background: url('../images/buttonGradient.png') top left no-repeat;
				height: 35px;
				line-height: 35px;
				padding: 0 0 0 10px;
				display: inline-block;
				*display: inline;
				*zoom: 1;
				margin: 0 0.5em 0.5em;

				&:first-child { margin-left: 0; }

				a {
					background: url('../images/buttonGradient.png') bottom right no-repeat;
					display: inline-block;
					*display: inline;
					*zoom: 1;
					padding: 0 10px 0 0;
					color: #fff;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		
		.productPrices {
			border-top: 1px solid $bordercolor;
			padding: 1em 0;
			margin: 1em 0;
			
			input[type=checkbox] {
				float: left;
				height: 1em;
				margin: 0 5% 0 0; // 15/300
			}
			
			.productPrice,
			.productName {
				float: left;
				line-height: 1em;
			}
			
			.productName {
				width: 70%;
				margin: 0 0 1em 5%;
			}
		}
	}
}

@media screen and (min-width: 480px) {
	.itemWrapper .leftSide .productThumbs {
		.thumb {
			width: 30%;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.itemWrapper {
		
		.leftSide {
			margin: 0 auto;
			width: auto;
			padding-right: 0;
			float: none;
			
		}
		
		.productHeader {
			width: auto;
			float: left;
		}
		
		.rightSide {
			width: auto;
			float: none;
			
			.productPrices {
				width: 100%;

				input[type="checkbox"] {
					width: 5%;
					float: left;
					height: 1em;
					margin: 0 3% 0 0; // 15/300
				}

				.productPrice,
				.productName {
					width: 10%;
					float: left;
					line-height: 1em;
					margin: 0 2% 0 0; // 15/300
				}

				.productName {
					width: 80%;
					margin: 0 0 1em 0;
				}
			}
		}
	}
}/*/mediaquery*/

@media only screen and (max-width: 767px) {
	
	.itemWrapper {
		
		.leftSide {
			margin: 0 auto;
			width: auto;
			padding-right: 0;
			float: none;
		}
		
		.productHeader {
			width: auto;
			float: left;
		}
		
		.rightSide {
			width: auto;
			float: none;
			
			.productPrices {
				width: 100%;

				input[type=checkbox] {
					width: 5%;
					float: left;
					height: 1em;
					margin: 0 3% 0 0; // 15/300
				}

				.productPrice,
				.productName {
					width: 10%;
					float: left;
					line-height: 1em;
					margin: 0 2% 0 0; // 15/300
				}

				.productName {
					width: 80%;
					margin: 0 0 1em 0;
				}
			}
		}
	}
}/*/mediaquery*/

.ie7, .ie8 {
	.itemWrapper {
		.leftSide .productThumbs {
			.thumb {
				width: 30%;
			}
		}
	}
}

.ie7 {
	.itemWrapper {
		.productHeader {
			width: 319px; /* stupid ie */
			float: right;
		}

		.leftSide { float: left; zoom: 1; }
		.rightSide { 
			float: right; 
			width: 319px;
			zoom: 1;
		}
	}
}