@import "_variables";

.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

.button {
	background: url('../images/buttonGradient.png') top left no-repeat;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	a {
		background: url('../images/buttonGradient.png') bottom right no-repeat;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		padding: 0 40px 0 25px;
		color: #fff;
	}
}

input[type="submit"] {
	background: url('../images/button_submit.png') top left no-repeat;
	border-radius: 0;
	border: none;
	width: 140px;
	text-align: center;
	height: 35px;
	vertical-align: middle;
	color: #fff;
}

.categoryWrapper,
.productWrapper {
	margin-left: -2%; // 14/715
	
	.category,
	.product {
		width: 30.769230769%; // 220/715
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin: 0 0 0 2%;
		
		img {height: inherit;}

		p {
			color: $maincolor;
			margin: 0 0 40px 0;
			&.categoryName {
				font-size: 1.142857143em; // 16/14
				text-align: center;
			}
			&.productName {
				width: 58%;
				float: left;
				padding: 0 0 0 2%;
			}
			&.productPrice {
				width: 38%;
				float: right;
				text-align: right;
				padding: 0 2% 0 0;
				color: #000;
			}
		}
	}
}

.desktop-only { }
.mobile-only, .tablet-only, .phone-only { display: none; }

@media only screen and (max-width: 767px) { // cell + table
	.desktop-only { display: none; }
	.mobile-only, .tablet-only, .phone-only { display: block; }
	
	.show-menu {cursor: pointer;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone
	.desktop-only { display: none; }
	.mobile-only, .phone-only { display: block; }
}