@import "_variables";

.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: $maincolor; color:#fff; text-shadow: none; }
::selection { background: $maincolor; color:#fff; text-shadow: none; }

.hr {
	border-top: 1px solid $bordercolor;
	width: 100%;
	height: 0;
	clear: both;
}

.table4column {
	tr {
		td {
			width: 22.5%;
			padding: 1em 0 0 2.5%;
			vertical-align: top;
			&:first-child {font-weight: bold;}
		}
	&:first-child td {
		font-weight: bold;
	}
	}
}

.contactTable {
	.form {
		float: left;
		max-width: 34.042553191%;
		padding-right: 1.063829787%;
	}
	
	.content {
		float: none;
		width: auto;
		margin-left: 350px;
	
		img {
			float: right;
			margin: 0 0 10px 10px;
		}
	}
}

// each testimonial blog post

.items-leading > div {
	margin: 1em 0;
	border-bottom: 1px solid $bordercolor;
}

// end of testimonial blog post

.button {
	background: url('../images/buttonGradient.png') top left no-repeat;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	> * {
		background: url('../images/buttonGradient.png') bottom right no-repeat;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		padding: 0 40px 0 25px;
	}
	
	a {color: #fff;}
}

button[type="submit"],
input[type="submit"] {
	font-family: 'Goudy Old Style';
	background: url('../images/button_submit.png') top left no-repeat;
	border-radius: 0;
	border: none;
	width: 140px;
	text-align: center;
	height: 35px;
	vertical-align: middle;
	color: #fff;
	padding: 0;
	&.validate {margin-top: .5em;}
}

.captioned {
	img {
		display: block;
		margin-bottom: .5em;
	}
	&.right {margin: 0 0 .5em .5em;}
	&.left {margin: 0 .5em .5em 0;}
}

// block modules

.module.block {
	width: 28.936170213%; // 272/940
	background: url('../images/bg_blockGradient.png') bottom left no-repeat;
	padding-left: 1.70212766%;
	text-align: center;
	
	> div {
		background: url('../images/bg_blockGradient.png') bottom right no-repeat;
		padding-bottom: 50px;
	}
	
	> div > div {
		background: url('../images/bg_blockHeader.png') top left no-repeat;
		margin-left: -5.940594059%;
		padding-left: 5.940594059%;
	}
	
	> div > div > div {
		background: url('../images/bg_blockHeader.png') top right no-repeat;
		padding-right: 5.940594059%;
	}
	
	h3 {
		color: #fff;
		margin: 0px 0;
		padding: 7px 0 24px;
		text-align: left;
	}
	
	p {
		text-align: left;
	}
	
	.mc-field-group {
		text-align: center;
		margin-bottom: 1em;
		
		input {
			border-radius: 5px;
			width: 90%;
			padding-left: 5%;
			border: 1px solid $bordercolor;
			line-height: 1em;
			height: 30px;
			font-style: italic;
		}
	}
	
}

.desktop-only { }
.mobile-only, .tablet-only, .phone-only { display: none; }

.chronoform { display: none; }
.Chronoform { float: left; }

@media only screen and (max-width: 1023px) {
	
	.contactTable {
		.content {
			float: left;
			margin: 20px 0 0 0;
		}
	}
	
}/*/mediaquery*/

@media only screen and (max-width: 767px) { // cell + table
	.desktop-only { display: none; }
	.mobile-only, .tablet-only, .phone-only { display: block; }
	
	.show-menu {cursor: pointer;}
	
	.contactTable {

		.content {
			margin-top: 2em;

			p {width: 100%;}
		}
	}
	
}/*/mediaquery*/

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone
	.desktop-only { display: none; }
	.mobile-only, .phone-only { display: block; }
}/*/mediaquery*/

@media only screen and (max-width: 480px) {
	.noFloat {
		float: none !important;
	}

	.contactTable {
		.content {
			img {
				float: none;
				margin: 0 0 1em;
			}
		}
	}
}/*/mediaquery*/
