@import "_variables";

.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

.table4column {
	tr {
		td {
			width: 22.5%;
			padding: 1em 0 0 2.5%;
			vertical-align: top;
			&:first-child {font-weight: bold;}
		}
	&:first-child td {
		font-weight: bold;
	}
	}
}

.button {
	background: url('../images/buttonGradient.png') top left no-repeat;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	a {
		background: url('../images/buttonGradient.png') bottom right no-repeat;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		padding: 0 40px 0 25px;
		color: #fff;
	}
}

input[type="submit"] {
	background: url('../images/button_submit.png') top left no-repeat;
	border-radius: 0;
	border: none;
	width: 140px;
	text-align: center;
	height: 35px;
	vertical-align: middle;
	color: #fff;
}

.captioned {
	img {
		display: block;
		margin-bottom: .5em;
	}
	&.right {margin: 0 0 .5em .5em;}
	&.left {margin: 0 .5em .5em 0;}
}

// block modules

.module.block {
	width: 28.936170213%; // 272/940
	background: url('../images/bg_blockGradient.png') bottom left no-repeat;
	padding-left: 1.70212766%;
	
	> div {
		background: url('../images/bg_blockGradient.png') bottom right no-repeat;
		padding-bottom: 50px;
	}
	
	> div > div {
		background: url('../images/bg_blockHeader.png') top left no-repeat;
		margin-left: -5.940594059%;
		padding-left: 5.940594059%;
	}
	
	> div > div > div {
		background: url('../images/bg_blockHeader.png') top right no-repeat;
		padding-right: 3.96039604%;
	}
	
	h3 {
		color: #fff;
		margin: 0px 0;
		padding: 7px 0 24px;
	}
	
}

.staffBlock {
	width: 45%;
	padding-right: 2.5%;
	float: left;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom: 1em;
	
	img {
		float: left;
		padding: 0 2.5% 2.5% 0;
	}
	
	h4 {margin-bottom: 0}
	
	span.jobTitle {
		font-size: 1em;
		font-weight: bold;
		color: $maincolor;
		margin: 0 0 .5em 0;
		display: block;
	}
}

.videoBlock {
	max-width: 350px;
	padding: 0 10px 0 0;
	float: left;
	
	h2 {height: 40px;}
}

.desktop-only { }
.mobile-only, .tablet-only, .phone-only { display: none; }

@media only screen and (max-width: 991px) {
	a{}
	
	.videoBlock {
		width: 100%;
		padding: 0 10px 0 0;
		float: left;
	}
}


@media only screen and (max-width: 767px) { // cell + table
	.desktop-only { display: none; }
	.mobile-only, .tablet-only, .phone-only { display: block; }
	
	.show-menu {cursor: pointer;}
	
	.staffBlock {
		width: 100%;
		padding-left: 0;
		float: left;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) { // phone
	.desktop-only { display: none; }
	.mobile-only, .phone-only { display: block; }
}